/* INDEX */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0225;
  color: white;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

/* APP */
header {
  padding: 10px;
  font-size: 2rem;
}

header .shorten {
  color: #ebff5e;
  text-align: center;
  display: block;
  transform: scale(1, 1);
  letter-spacing: normal;
}
/* FORM */
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  border-radius: 4px;
  background-color: #828282;
  color: white;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 9rem;
  text-align: right;
  padding: 1rem;
}


.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.select::before {
  content: "\25BC";
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background: #72e4fc;
  color: #000;
  cursor: pointer;
  pointer-events: none;
  border-radius: 4px;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #828282;
  color: white;
  
}

form input {
  border-radius: 4px 0 0 4px;
}

textarea:focus, input:focus{
  outline: none;
}

form button {
  color: #72e4fc;
  background: #828282;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0 4px 4px 0;
}

form button:hover {
  background: #72e4fc;
  color: #828282;
}

.links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-list {
  min-width: 30%;
  list-style: none;
}

.link {
  margin: 0.5rem;
  background: #0d0225;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.link li {
  flex: 1;
}

.link-item {
  padding: 0rem 0.5rem;
}

.link-item a {
  text-decoration: none;
  color: white;
}

.link-item:hover a {
  text-decoration: none;
  color: #ebff5e;
}

.deleteButton,
.copyButton {
  background: #0d0225;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 4px;
}
.deleteButton:hover {
  background: #828282;
  color: red;
}
.copyButton:hover {
  background: #828282;
  color: lime;
}




